<!DOCTYPE html>
<html>

<head>
  <title>Edit book</title>
</head>

<body>
    <hl>Edit book</hl>
  <form action="/update_book" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" value="{{ book.title }}"/>
    </p>
    <p>
      Author: <br />
      <input type="text" name="author" value="{{ book.author }}" />
    </p>
    <p>
      Description: <br />  
      <textarea name="description" rows="10" cols="60" >{{ book.description }}</textarea>
    </p>
    <p>
      Rating:  <br />
      <input name="rating" type="number" max="10" min="1" value="{{ book.rating }}"/>
    </p>
    <input type="hidden" name="book_id" value="{{ book.id }}" />
    <input type="submit" value="Update book" />
  </form>
</body>

</html>