{% extends "layout.html" %}

{% block title %}Book images{% endblock %}

{% block content %}
<h2>Book images: {{ book.title }}</h2>

<p>
  This book has {{ images | count }} images.
</p>

<form action="/remove_images" method="post">
  {% for image in images %}
  <input type="checkbox" name="image_id" value="{{ image.id }}">
  <img src="/image/{{ image.id }}" alt="Image" width="400" />
  <br />
  {% endfor %}
  <input type="hidden" name="book_id" value="{{ book.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <input type="submit" value="Remove selected" />
  </p>
</form>

<h3>Add new image</h3>
<form action="/add_image" method="post" enctype="multipart/form-data">
  <p>
    Image: <input type="file" name="image" accept=".png" />
  </p>
  <input type="hidden" name="book_id" value="{{ book.id }}">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Add" />
</form>
<p>
  <a href="/book/{{ book.id }}">Return to book</a>
</p>
{% endblock %}