<!DOCTYPE html>
<html>

<head>
  <title>Readingjournal</title>
</head>

<body>
    <h1>Readingjournal</h1>
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}, your id-number is {{ session.user_id }}
  </p>
  {% endif %}

  <p>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/logout">Logout</a>
  </p>

  <p>
    <a href="/new_book">New book</a>
  </p>

  <h2>Books</h2>

  <ul>
    {% for book in books %}
    <li><a href="/book/{{ book.id }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>