<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Reading journal</h1>
  {% if session.username %}
  <p>
    You're logged in as {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/">Homepage</a> |
    <a href="/find_book">Search book</a> |
  {% if session.user_id %}
    <a href="/new_book">New book</a> |
    <a href="/logout">Logout</a>
  {% else %}
    <a href="/login">Login</a> |
    <a href="/register">Register</a>
  {% endif %}
  </p>

  {% for message in get_flashed_messages() %}
  <div class="info">
    {{ message }}
  </div>
  {% endfor %}

  {% block content %}{% endblock %}
</body>

</html>