<!DOCTYPE html>
<html>

<head>
  <title>New book</title>
</head>

<body>
    <h1>New book</h1>
  <form action="/create_book" method="post">
    <p>
      Title: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Author: <br />
      <input type="text" name="author" maxlength="50" required/>
    </p>
    <p>
      Description: <br />  
      <textarea name="description" rows="10" cols="60" maxlength="1000"></textarea>
    </p>
    <p>
      Genre: <br />
      <select name="genre">
        <option value="">(select)</option>
        <option value="Biography">Biography</option>
        <option value="Classics">Classics</option>
        <option value="Comics">Comics</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Fiction">Fiction</option>
        <option value="History">History</option>
        <option value="Music">Music</option>
        <option value="Non-fiction">Non-fiction</option>
        <option value="Philosophy">Philosophy</option>
        <option value="Poetry">Poetry</option>
        <option value="Religion">Religion</option>
        <option value="Romance">Romance</option>
        <option value="Science">Science</option>
        <option value="Self help">Self help</option>
        <option value="Thriller">Thriller</option>
        <option value="Young-adult">Young-adult</option>
      </select>
    </p>
    <p>
      Format: <br />
      <select name="format">
        <option value="">(select)</option>
        <option value="Hardcover">Hardcover</option>
        <option value="Paperback">Paperback</option>
        <option value="Ebook">Ebook</option>
        <option value="Audiobook">Audiobook</option>
      </select>
    </p>
    <p>
      Rating:  <br />
      <input name="rating" type="number" max="10" min="1" pattern="^(10|[1-9])$"/>
    </p>
    <input type="submit" value="Create book" />
  </form>
</body>

</html>