{% extends "layout.html" %}

{% block title %}New book{% endblock %}

{% block content %}
<h2>New book</h2>
<form action="/create_book" method="post">
  <p>
    Title: <br />
    <input type="text" name="title" maxlength="50" required autofocus/>
  </p>
  <p>
    Author: <br />
    <input type="text" name="author" maxlength="50" required/>
  </p>
  <p>
    Description: <br />
    <textarea name="description" rows="10" cols="60" maxlength="1000"></textarea>
  </p>
  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(select)</option>
     {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
     {% endfor %}
    </select>
  </p>
  {% endfor %}
  <p>
    Rating:  <br />
    <select name="rating">
    {% for i in range(1, 11) %}
        <option value="{{ i }}">{{ i }}</option>
    {% endfor %}
    </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Create book" />
</form>
{% endblock %}