<!DOCTYPE html>
<html>

<head>
  <title>{{ book.title }}</title>
</head>

<body>
  <h1>{{ book.title }}</h1>
   {% if session.user_id == book.user_id %}
  <p>
    <a href="/edit_book/{{ book.id }}">Edit</a>
    <a href="/remove_book/{{ book.id }}">Delete</a>
  </p>
  {% endif %}
  <p>
    Author: {{ book.author }}
  </p>
  <p>
    {{ book.description }}
  </p>
  <p>
    Rating: {{ book.rating }}
  </p>
  <p>
    Book added by: {{ book.username }}
  </p>
  <p>
    <a href="/">Return</a>
  </p>
</body>

</html>